/* Other styles */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#nameModal {
    display: none; /* Hide the modal by default */
    position: absolute; /* Use absolute positioning to center within the container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center */
    z-index: 1000; /* Ensure it appears above other content */
    background-color: rgba(0, 0, 0, 0.4); /* Darken the background */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nameModalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#nameModal input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}

#nameModal button {
    padding: 10px 20px;
    margin-top: 10px;
}
